@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --background-color: #046B99;
    --text-color: #B3EFFF;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    margin: 2rem;
}

label{
    font-size: large;
    text-align: center;
    font-weight: bold;
}

#container{
    width: 50%;
    margin: auto;
}

input, label{
    display: block;
}

input{
    margin: 1rem;
    padding: 0.4rem;
    width: 100%;
}

#check-button{
    display: block;
    margin-top: 1rem;
    margin: auto;
    background: transparent;
    color: var(--text-color);
    border: medium solid var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

#output-div{
    display: block;
    margin: 2rem;
    color: white;
    text-align: center;
    font-weight: bold;
}